.select {
    height: 55px;
    border: none;
    outline: none;
    border-radius: 14px;
    background-color: #F6F7F8;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    padding: 0 22px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    appearance: none;
    background-image: url('../../../photos/pngwing.com.png');
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 19px 16px;
}

.select option {
    color: #353536;
}

.selectError {
    background-color: #FEE0E0;
}
