.footer {
    background-color: #FFFFFF;
    height: 80px;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 98px;
    height: 47px;
}